<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidyue.translate"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
   	<uses-permission android:name="android.permission.INTERNET" />
   	<uses-permission android:name="android.permission.GET_TASKS"/>
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".DroidApplication"
        android:supportsRtl="true"
        >
        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <meta-data	android:value="54c1d3bdfd98c540d5000567"
        	android:name="UMENG_APPKEY"/>
        <meta-data  android:value="official"  android:name="UMENG_CHANNEL"/>
        
        <service
    		android:name="com.umeng.update.net.DownloadingService"
    		android:process=":DownloadingService" >
		</service>
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
        
        <activity
            android:name="com.droidyue.translate.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.droidyue.translate.TranslateService"></service>
        
        <receiver android:name="com.droidyue.translate.DroidReceiver">
            <intent-filter >
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
